@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gochi+Hand&family=Homemade+Apple&family=Permanent+Marker&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #F8F4E1;
}

/************************************MOBILE FIRST************************************/
/*COMPONENTS*/
header h1 {
  padding: 20px 50px 0;
}

nav {
  background-color: /*#E3E1D9 */#AF8F6F;
  display: flex; /* Make the outer nav a flexbox */
  justify-content: center; /* Horizontally center `nav.bottom` */
}

nav.top{
  margin-top: 20px;
}

ol.breadcrumb {
  padding: 10px 0 10px 0;
}

.container-nav {
  display: flex; /* make the container a flexbox */
  flex-direction: column; /* stack elements vertically */
  align-items: center; /* horizontally center elements */
}

.container-nav ul,
.container-nav form,
.container-nav .social-links {
  width: 100%; /* elements take full width */
}

.other-sections,
.alters {
  list-style: none; /* remove bullet points */
  padding: 0; /* remove default list padding */
}

.social-links {
  display: flex; /* make social links a row */
  margin: 10px 0; /* Add some margin for spacing */
}

.social-links img {
  width: 24px;
  height: 24px;
  margin-right: 10px; /* sdd some spacing between icons */
}

nav, h2, h3, h5, p, li {
    font-family: "Cormorant Garamond", serif;
} 

nav, h2, h3, p {
    padding: 30px 50px 0 50px;
}

header h1, .author {
    font-family: "Homemade Apple", cursive;
}

.author, .copy {
    padding: 0;
    text-align: center;
}

.author {
    margin: 20px 0 0 0;
}

/*HOME view*/
#carouselCaptions .carousel-item.active img {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.8); // Un gris más oscuro
}

section.projects {
  margin: 10px, 0;
}

  .carousel-caption h5, p {
    font-weight: bold;
    font-size: 24px;
  }

/*ABOUT view*/
#profile img {
    max-width: 100%; /* permite que la imagen se ajuste al ancho de su contenedor */
    height: auto; /* mantiene las proporciones de la imagen */
    padding: 10px 50px;
  }

.container-skills, .container-soft {
    display: flex;
    flex-direction: column; /*stack vertically on mobile */
}

.container-skills h3, .container-soft h3 {
  position: relative;
  top: -20px; /* Adjust as needed */
}

ul.artistic, ul.soft {
    padding: 0 0 0 50px;
}

  .Alice {
    font-family: Sacramento, system-ui;
    text-align: right;
    font-size: 2rem;
  }
  
  .T {
    font-family: "Gochi Hand", cursive;
    text-align: left;
    font-size: 1rem;
  }
  
  .Buck {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 1.5rem;
  }


/*CONTACT view*/
h1 {
  font-family: "Cormorant Garamond", serif;
    padding: 50px 0 30px 50px;
}

form {
    font-family: "Cormorant Garamond", serif;
    padding: 0 50px 10px 50px;
}

/************************************MEDIA QUERIES************************************/
@media (min-width: 768px) {
  .container-nav {
    flex-direction: row; /* arrange elements side-by-side */
  }

  .container-nav ul,
  .container-nav form,
  .container-nav .social-links {
    width: 25%; /* each element takes 1/4th width */
  }
}

@media (min-width: 768px) { /* Para pantallas medianas y grandes */
    #profile img {
      max-width: 1000px;
      height: auto;
    }
  }

@media (min-width: 768px) { /* Para pantallas medianas y grandes */
 .container {
    align-content: center;
  }
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .container-skills, .container-soft {
      flex-direction: row; /* Arrange side-by-side on tablets and desktops */
      flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  }

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .container-skills, .container-soft {
      flex-direction: row; /* Arrange side-by-side on tablets and desktops */
      justify-content: space-between; /* Distribute divs evenly */
      flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  }

  .container-skills ul, .container-soft ul {
      flex: 1; /* Equal width for each column */
  }
}
}