@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gochi+Hand&family=Homemade+Apple&family=Permanent+Marker&family=Sacramento&display=swap');
@import "./home.css";
@import "./about.css";
@import"./contact.css";

/*  ----------------- Base styles  ----------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #F8F4E1;
}

/* ----------------- Header ----------------- */
header h1 {
  margin: 20px 0 20px 50px;
  padding: 0;
  font-family: "Homemade Apple", cursive;
}

/* ----------------- Top nav ----------------- */
nav.top{
  margin-top: 20px;
  padding: 0 50px 0 50px;
  background-color: #AF8F6F;
}

ol.breadcrumb {
  padding: 10px 0 10px 0;
}

nav, h2, h3, h5, p, li {
    font-family: "Cormorant Garamond", serif;
} 

h2, h3, p {
    padding: 30px 50px 0 50px;
}

/* ----------------- Bottom nav ----------------- */
nav.bottom {
  background-color: #AF8F6F;
  margin-top: 80px;
}

.social img {
  min-width: 24px; 
  max-width: 48px;
  margin-right: 10px;
}

.social a {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.form-inline {
  padding: 0;
}

/* ----------------- Footer ----------------- */
.author, .copy {
  padding: 0;
  text-align: center;
}

.author {
  font-family: "Homemade Apple", cursive;
  margin: 20px 0 0 0;
}